<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641038842495-fjpo4dq63vtnrsdlalluce5qkvlgapuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641038842495-fjpo4dq63vtnrsdlalluce5qkvlgapuh</string>
	<key>API_KEY</key>
	<string>AIzaSyB_T7Qi3d9zg9LXLkT-9s-ANftIBIgFIyM</string>
	<key>GCM_SENDER_ID</key>
	<string>641038842495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.apurvadeshmukh.FireChat</string>
	<key>PROJECT_ID</key>
	<string>firechat-e048c</string>
	<key>STORAGE_BUCKET</key>
	<string>firechat-e048c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641038842495:ios:aea95fab12fd35ebc91d4a</string>
	<key>DATABASE_URL</key>
	<string>https://firechat-e048c.firebaseio.com</string>
</dict>
</plist>